<%= form_for(locations_tag) do |f| %>
  <% if locations_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(locations_tag.errors.count, "error") %> prohibited this locations_tag from being saved:</h2>

      <ul>
      <% locations_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
